In [1]:
from pandas_datareader import data as pdr
import yfinance as yfin
from datetime import datetime, timedelta, date
import pandas as pd
import plotly.express as px
import numpy as np
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')


yfin.pdr_override()

In [2]:
AA_1 = pdr.get_data_yahoo('AA', start='2022-10-01', end='2022-11-02')
AA_2 = pdr.get_data_yahoo('AA', start='2023-02-01', end='2023-05-02')
AA_3 = pdr.get_data_yahoo('AA', start='2023-06-01', end='2023-07-02')
AA_4 = pdr.get_data_yahoo('AA', start='2023-12-01', end='2024-04-02')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
AA_1

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-10-03  34.349998  37.939999  34.000000  37.389999  36.722958   9731400
2022-10-04  39.160000  40.389999  38.380001  40.230000  39.512295   9700700
2022-10-05  38.930000  40.419998  38.310001  40.080002  39.364967   7798400
2022-10-06  39.369999  40.349998  38.650002  39.849998  39.139072   6853900
2022-10-07  39.040001  39.355000  37.880001  39.009998  38.314056   6270400
2022-10-10  39.500000  40.189999  38.462002  38.840000  38.147091   5590100
2022-10-11  37.860001  39.070000  37.290001  37.849998  37.174751   4918700
2022-10-12  37.779999  41.110001  36.580002  39.860001  39.148895  17974200
2022-10-13  38.639999  40.970001  38.290001  40.880001  40.150700   8221700
2022-10-14  40.939999  40.939999  37.889999  38.349998  37.665829   5605600
2022-10-17  39.450001  40.290001  38.400002  39.380001  38.677456   5538000
2022-10-18  40.369999  40.580002  38.577999  39.709999  39.001564   5082700
2022-10-19  39.020000  39.310001  37.150002  37.619999  36.948856   8372800
2022-10-20  35.820000  41.669998  35.400002  38.910000  38.215839  36329500
2022-10-21  38.849998  41.919998  38.560001  41.060001  40.327480  13762600
2022-10-24  40.049999  40.150002  38.599998  39.169998  38.471203   7822400
2022-10-25  38.764999  42.389999  38.439999  41.490002  40.749813   8522200
2022-10-26  42.090000  43.080002  41.279999  42.650002  41.889118   6082400
2022-10-27  42.580002  42.810001  41.189999  41.410000  40.671242   5169100
2022-10-28  40.779999  40.785000  38.459999  39.490002  38.785496   6566400
2022-10-31  38.860001  40.029999  38.820000  39.029999  38.431015   5388700
2022-11-01  40.770000  42.130001  40.259998  40.880001  40.252636   6356100

In [4]:
AA_2

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-02-01  52.099998  54.730000  51.619999  54.580002  53.742386  5479100
2023-02-02  54.279999  54.469002  51.919998  53.660000  52.836498  4665600
2023-02-03  53.400002  54.380001  52.580002  52.740002  51.930618  3546200
2023-02-06  55.139999  55.400002  50.860001  52.020000  51.221668  5405100
2023-02-07  52.160000  53.400002  50.865002  53.240002  52.422943  4359400
...               ...        ...        ...        ...        ...      ...
2023-04-25  36.900002  36.900002  35.720001  35.750000  35.264874  6363500
2023-04-26  36.080002  36.200001  35.020000  35.450001  34.968948  4799500
2023-04-27  35.555000  36.480000  35.402000  36.270000  35.777817  3850900
2023-04-28  36.080002  37.236000  35.775002  37.139999  36.636013  3835100
2023-05-01  37.660000  37.700001  36.770000  37.270000  36.764244  2730300

[62 rows x 6 columns]

In [5]:
AA_3

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-06-01  32.000000  33.040001  31.520000  32.700001  32.347717  4830600
2023-06-02  34.290001  35.389999  33.939999  34.939999  34.563583  8042300
2023-06-05  34.830002  34.830002  33.400002  33.779999  33.416080  4118500
2023-06-06  33.500000  34.980000  33.439999  34.549999  34.177788  4132600
2023-06-07  34.930000  36.340000  34.549999  35.349998  34.969166  5266200
2023-06-08  35.610001  35.950001  34.759998  35.580002  35.196690  3779400
2023-06-09  35.610001  35.830002  34.830002  35.230000  34.850456  3071100
2023-06-12  34.869999  35.679001  34.619999  34.990002  34.613049  3856900
2023-06-13  36.020000  37.610001  35.889999  36.700001  36.304623  6175900
2023-06-14  37.740002  37.740002  35.660000  36.130001  35.740768  4615100
2023-06-15  35.669998  36.240002  35.349998  35.970001  35.582489  4217500
2023-06-16  35.970001  36.040001  34.790001  35.619999  35.236259  5811700
2023-06-20  34.584000  34.880001  33.880001  34.220001  33.851341  5372900
2023-06-21  33.700001  35.130001  33.577000  34.910000  34.533909  4907500
2023-06-22  33.799999  33.950001  32.810001  33.410000  33.050072  7327400
2023-06-23  32.730000  33.299999  32.549999  32.840000  32.486206  5471400
2023-06-26  32.779999  33.529999  32.779999  32.990002  32.634590  3311300
2023-06-27  33.490002  34.525002  33.029999  34.430000  34.059082  4130400
2023-06-28  34.000000  34.029999  33.389999  33.660000  33.297375  3657200
2023-06-29  33.500000  33.959999  33.080002  33.759998  33.396294  5419200
2023-06-30  33.990002  34.099998  33.314999  33.930000  33.564465  4966300

In [6]:
AA_4

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-12-01  27.000000  28.014999  26.510000  27.740000  27.639784  5455100
2023-12-04  27.280001  27.930000  26.764999  26.809999  26.713142  4965000
2023-12-05  26.500000  26.530001  25.129999  25.240000  25.148815  7715800
2023-12-06  25.600000  25.959999  25.040001  25.120001  25.029249  4055000
2023-12-07  25.160000  25.290001  24.270000  24.940001  24.849899  6780000
...               ...        ...        ...        ...        ...      ...
2024-03-25  31.570000  32.299999  31.500000  31.860001  31.860001  4745000
2024-03-26  32.320000  32.320000  31.230000  31.580000  31.580000  3765000
2024-03-27  31.719999  33.230000  31.670000  33.209999  33.209999  6439000
2024-03-28  33.240002  33.965000  33.200001  33.790001  33.790001  6147100
2024-04-01  34.099998  34.360001  33.509998  34.020000  34.020000  4440200

[82 rows x 6 columns]

In [7]:
AA_ret_1 = AA_1['Adj Close'][-1]/AA_1['Adj Close'][0]

In [8]:
AA_ret_2 = AA_2['Adj Close'][-1]/AA_2['Adj Close'][0]

In [9]:
AA_ret_3 = AA_3['Adj Close'][-1]/AA_3['Adj Close'][0]

In [10]:
AA_ret_4 = AA_4['Adj Close'][-1]/AA_4['Adj Close'][0]

In [11]:
AA_total_ret = (AA_ret_1*
                AA_ret_2*
                AA_ret_3*
                AA_ret_4)**(1/(9/12)) - 1

In [12]:
AA_total_ret

-0.056080758134852915

In [13]:
# Source: https://www.investing.com/indices/dj-aluminum-historical-data
# Checked: Correct 
AA_djusal_1 = 139.65/127.73
AA_djusal_1

# Checked: Correct
AA_djusal_2 = 127.32/186.45
AA_djusal_2

# Checked: Correct
AA_djusal_3 = 115.91/111.71
AA_djusal_3

# Checked: Correct
AA_djusal_4 = 116.22/94.76
AA_djusal_4

AA_djusal_ret = (AA_djusal_1*
                 AA_djusal_2*
                 AA_djusal_3*
                 AA_djusal_4)**(1/(9/12)) - 1
AA_djusal_ret

-0.06598054100966122

In [14]:
LLY_1 = pdr.get_data_yahoo('LLY', start='2022-11-01', end='2022-12-02')
LLY_2 = pdr.get_data_yahoo('LLY', start='2022-09-01', end='2022-10-02')
LLY_3 = pdr.get_data_yahoo('LLY', start='2023-04-01', end='2023-05-02')
LLY_4 = pdr.get_data_yahoo('LLY', start='2024-01-01', end='2024-03-02')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
LLY_1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-01,345.829987,358.989990,340.750000,352.579987,347.555878,7013000
2022-11-02,354.160004,363.149994,350.209991,354.959991,349.901947,3774400
2022-11-03,354.059998,362.829987,351.510010,361.679993,356.526215,2602500
2022-11-04,365.200012,365.880005,353.339996,357.410004,352.317047,3004600
2022-11-07,358.000000,367.000000,357.500000,365.070007,359.867920,2560300
2022-11-08,365.149994,368.750000,361.929993,366.660004,361.435211,3278600
2022-11-09,368.440002,369.799988,361.910004,363.269989,358.093536,2323700
2022-11-10,367.239990,369.000000,363.000000,368.720001,363.465912,2994000
2022-11-11,366.160004,367.829987,344.519989,352.299988,347.279877,6646300
2022-11-14,359.070007,360.799988,340.119995,356.059998,351.965332,4717400
2022-11-15,356.940002,356.989990,346.359985,349.950012,345.925629,4180700
2022-11-16,350.000000,356.880005,349.959991,352.929993,348.871368,3563800
2022-11-17,352.910004,362.299988,352.709991,360.769989,356.621185,2929700
2022-11-18,362.549988,364.670013,359.350006,361.670013,357.510834,2420900
2022-11-21,360.390015,363.760010,355.369995,361.170013,357.016632,1999200
2022-11-22,362.000000,362.799988,357.299988,360.880005,356.729889,2460400
2022-11-23,361.339996,362.470001,358.630005,361.720001,357.560272,1993000
2022-11-25,362.899994,365.829987,361.549988,365.250000,361.049713,1039100
2022-11-28,363.450012,369.510010,361.000000,365.769989,361.563660,2481300
2022-11-29,364.619995,366.109985,360.640015,363.950012,359.764648,2207000
2022-11-30,365.070007,372.350006,361.799988,371.079987,366.812653,5556400
2022-12-01,374.790009,375.190002,368.489990,370.329987,366.071228,2516100

In [16]:
LLY_2

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-09-01,301.000000,309.410004,300.500000,309.130005,304.725006,2939200
2022-09-02,310.109985,310.220001,299.760010,301.329987,297.036133,2525400
2022-09-06,302.950012,312.829987,302.230011,306.820007,302.447937,2322200
2022-09-07,308.769989,312.399994,304.880005,311.600006,307.159790,2228100
2022-09-08,311.950012,315.730011,307.589996,315.500000,311.004211,2212500
2022-09-09,316.450012,320.170013,315.220001,317.700012,313.172943,2177000
2022-09-12,318.890015,320.450012,314.880005,315.220001,310.728210,2077400
2022-09-13,310.010010,312.309998,304.989990,306.480011,302.112793,2272400
2022-09-14,307.209991,311.809998,305.899994,309.609985,305.198151,2002900
2022-09-15,309.709991,312.279999,305.750000,309.470001,305.060181,2348100
2022-09-16,307.970001,311.959991,306.739990,308.890015,304.488434,4380200
2022-09-19,306.480011,306.519989,297.649994,305.089996,300.742554,2515300
2022-09-20,303.820007,303.820007,298.940002,301.730011,297.430481,1816800
2022-09-21,301.000000,304.529999,296.320007,296.480011,292.255249,2241200
2022-09-22,300.799988,312.609985,299.959991,310.869995,306.440216,5918300
2022-09-23,311.869995,315.179993,305.119995,311.459991,307.021820,4572600
2022-09-26,308.799988,311.730011,304.880005,307.500000,303.118195,3760000
2022-09-27,309.149994,313.950012,308.320007,311.100006,306.666931,3019600
2022-09-28,333.529999,341.700012,328.100006,334.380005,329.615173,9436300
2022-09-29,333.970001,334.679993,327.269989,330.010010,325.307526,3743100
2022-09-30,327.149994,329.510010,322.420013,323.350006,318.742401,4474100

In [17]:
LLY_3

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,343.239990,351.540009,342.299988,350.739990,347.828247,3039600
2023-04-04,352.070007,359.000000,351.269989,354.619995,351.676025,3585900
2023-04-05,358.079987,364.850006,357.929993,362.239990,359.232788,3442700
2023-04-06,364.850006,369.500000,364.250000,368.290009,365.232544,3531700
2023-04-10,368.179993,368.350006,363.040009,367.000000,363.953278,1868000
2023-04-11,367.760010,368.799988,363.589996,364.040009,361.017853,2027000
2023-04-12,364.019989,372.440002,363.329987,369.049988,365.986237,2672600
2023-04-13,372.619995,375.559998,370.309998,375.149994,372.035614,2839900
2023-04-14,374.239990,376.309998,372.510010,374.730011,371.619141,2287900
2023-04-17,375.000000,375.899994,371.160004,372.350006,369.258850,2059700
2023-04-18,373.000000,374.260010,369.660004,369.910004,366.839142,1925300
2023-04-19,370.549988,371.279999,367.350006,370.470001,367.394440,2173000
2023-04-20,371.390015,376.059998,369.760010,374.809998,371.698425,2766500
2023-04-21,378.010010,386.269989,378.000000,385.239990,382.041840,3682500
2023-04-24,385.239990,387.049988,381.630005,383.350006,380.167542,2059700
2023-04-25,385.049988,390.480011,384.000000,384.839996,381.645172,2648600
2023-04-26,381.119995,381.500000,370.679993,376.269989,373.146301,3161200
2023-04-27,391.260010,398.529999,380.769989,390.350006,387.109436,4981300
2023-04-28,398.000000,404.309998,392.510010,395.859985,392.573639,5349000
2023-05-01,397.260010,407.350006,392.260010,405.809998,402.441071,4091100

In [18]:
LLY_4

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,580.409973,592.719971,579.049988,592.200012,591.163818,3226700
2024-01-03,600.000000,619.840027,598.799988,617.700012,616.619202,5130300
2024-01-04,625.260010,636.409973,613.270020,614.500000,613.424805,6272500
2024-01-05,614.000000,619.940002,610.190002,618.549988,617.467651,2402500
2024-01-08,622.429993,626.059998,609.590027,626.030029,624.934631,2453900
2024-01-09,630.109985,634.419983,623.719971,625.479980,624.385559,2918900
2024-01-10,628.489990,637.049988,625.760010,630.190002,629.087341,2679100
2024-01-11,634.390015,639.760010,628.140015,635.719971,634.607605,2690300
2024-01-12,638.200012,644.000000,633.010010,642.919983,641.795044,2066400
2024-01-16,643.909973,647.729980,633.669983,634.570007,633.459656,2413600
2024-01-17,639.450012,640.520020,625.190002,628.909973,627.809509,2124100
2024-01-18,621.280029,623.880005,612.700012,623.349976,622.259277,3385000
2024-01-19,622.390015,629.590027,620.000000,628.580017,627.480164,3120500
2024-01-22,630.000000,632.640015,625.000000,630.880005,629.776123,2030200
2024-01-23,627.690002,630.000000,614.820007,629.679993,628.578186,2525000
2024-01-24,633.520020,643.169983,632.000000,633.700012,632.591187,2276900
2024-01-25,627.369995,632.609985,624.679993,627.619995,626.521790,2407900
2024-01-26,637.349976,639.599976,630.500000,639.250000,638.131470,2410300
2024-01-29,641.500000,645.650024,639.770020,645.000000,643.871399,2718500
2024-01-30,645.700012,646.799988,641.000000,644.979980,643.851440,2006100
2024-01-31,650.380005,663.549988,637.000000,645.609985,644.480347,4719000
2024-02-01,647.330017,660.520020,643.169983,660.429993,659.274414,2494300
2024-02-02,662.380005,672.619995,659.739990,667.650024,666.481812,3018000
2024-02-05,691.020020,711.880005,682.530029,706.200012,704.964355,7602400
2024-02-06,742.000000,742.000000,691.099976,705.030029,703.796387,8187300
2024-02-07,710.380005,740.989990,707.020020,725.380005,724.110779,5798000
2024-02-08,728.320007,741.000000,725.750000,735.679993,734.392761,4636900
2024-02-09,735.500000,745.700012,733.609985,740.159973,738.864868,2833900
2024-02-12,740.799988,740.799988,726.450012,737.260010,735.969971,2932300
2024-02-13,730.179993,742.979980,730.179993,742.969971,741.669983,2860300
2024-02-14,745.820007,764.049988,745.000000,757.309998,757.309998,3394300
2024-02-15,755.799988,762.989990,750.010010,757.780029,757.780029,2507000
2024-02-16,771.030029,794.469971,763.500000,782.059998,782.059998,5000700
2024-02-20,790.000000,793.380005,753.200012,755.659973,755.659973,4701100
2024-02-21,738.080017,749.500000,733.239990,745.909973,745.909973,3548700
2024-02-22,763.580017,775.119995,756.270020,769.640015,769.640015,3167400
2024-02-23,774.000000,777.650024,762.260010,769.539978,769.539978,2394800
2024-02-26,771.299988,780.219971,769.119995,771.919983,771.919983,2243800
2024-02-27,754.900024,772.950012,745.440002,765.000000,765.000000,2716700
2024-02-28,762.250000,763.000000,751.659973,757.640015,757.640015,2716300
2024-02-29,753.080017,756.460022,744.030029,753.679993,753.679993,3905400
2024-03-01,769.020020,784.080017,764.130005,782.119995,782.119995,4240500

In [19]:
LLY_ret_1 = LLY_1['Adj Close'][-1]/LLY_1['Adj Close'][0]

LLY_ret_2 = LLY_2['Adj Close'][-1]/LLY_2['Adj Close'][0]

LLY_ret_3 = LLY_3['Adj Close'][-1]/LLY_3['Adj Close'][0]

LLY_ret_4 = LLY_4['Adj Close'][-1]/LLY_4['Adj Close'][0]

LLY_total_ret = (LLY_ret_1*
                 LLY_ret_2*
                 LLY_ret_3*
                 LLY_ret_4)**(1/(5/12))-1

In [20]:
LLY_total_ret

2.5054329771944928

In [21]:
# Source: https://www.investing.com/indices/dj-pharmaceuticals-historical-data
LLY_djuspr_2 = 749.3/761.23

LLY_djuspr_1 = 857.38/814.43

LLY_djuspr_3 = 812.43/776.59

LLY_djuspr_4 = 930.04/838.26

LLY_djuspr_ret = (LLY_djuspr_1*
                  LLY_djuspr_2*
                  LLY_djuspr_3*
                  LLY_djuspr_4)**(1/(5/12))-1
LLY_djuspr_ret

0.5574837238272243

In [22]:
OXY_1 = pdr.get_data_yahoo('OXY', start='2023-03-01', end='2024-02-02')
OXY_2 = pdr.get_data_yahoo('OXY', start='2022-03-01', end='2022-11-02')
OXY_3 = pdr.get_data_yahoo('OXY', start='2021-08-01', end='2021-12-02')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [23]:
OXY_1

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-03-01  58.509998  60.090000  58.400002  59.709999  58.794479  14414200
2023-03-02  59.400002  60.540001  59.250000  60.270000  59.345890  13858700
2023-03-03  59.480000  61.700001  59.310001  61.250000  60.310867  17088900
2023-03-06  61.060001  61.970001  60.849998  61.680000  60.734272  12890800
2023-03-07  61.320000  61.650002  60.500000  60.849998  59.917000  12547300
...               ...        ...        ...        ...        ...       ...
2024-01-26  58.230000  58.430000  57.540001  58.400002  58.189690   7102800
2024-01-29  58.349998  58.419998  57.610001  58.220001  58.010338   7175800
2024-01-30  57.750000  58.990002  57.750000  58.900002  58.687889   8337500
2024-01-31  58.790001  58.860001  57.560001  57.570000  57.362675   8941900
2024-02-01  57.910000  58.110001  56.919998  57.320000  57.113575  11277700

[233 rows x 6 columns]

In [24]:
OXY_2

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-03-01  44.330002  47.830002  44.040001  46.790001  45.690590   68949800
2022-03-02  48.529999  49.290001  47.020000  48.369999  47.233459   51230100
2022-03-03  47.869999  48.669998  47.070000  47.750000  46.628036   43690500
2022-03-04  48.459999  56.450001  48.139999  56.150002  54.830666  101631900
2022-03-07  57.709999  58.770000  52.410000  55.380001  54.078758   81361200
...               ...        ...        ...        ...        ...        ...
2022-10-26  71.599998  73.290001  71.500000  72.519997  71.262352   12722000
2022-10-27  73.589996  74.169998  71.760002  71.870003  70.623634   12754100
2022-10-28  72.489998  73.279999  69.849998  71.839996  70.594147   13814400
2022-10-31  71.199997  74.129997  71.099998  72.599998  71.340965   13646400
2022-11-01  74.019997  74.489998  73.160004  73.800003  72.520164   13011800

[171 rows x 6 columns]

In [25]:
OXY_3

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-08-02  26.100000  27.059999  25.719999  25.790001  25.165731  13880000
2021-08-03  25.490000  26.500000  25.219999  26.430000  25.790239  15215300
2021-08-04  25.980000  26.889999  25.440001  25.690001  25.068151  20780200
2021-08-05  25.940001  26.830000  25.879999  26.190001  25.556049  12976200
2021-08-06  26.680000  27.080000  26.230000  26.389999  25.751209  12862500
...               ...        ...        ...        ...        ...       ...
2021-11-24  31.430000  32.480000  31.389999  32.009998  31.247709  11491000
2021-11-26  29.340000  29.879999  27.850000  29.700001  28.992722  22787800
2021-11-29  30.799999  31.270000  29.610001  30.059999  29.344149  15448100
2021-11-30  29.100000  29.969999  29.020000  29.650000  28.943916  20779600
2021-12-01  30.690001  30.969999  28.910000  28.950001  28.260586  19000400

[86 rows x 6 columns]

In [26]:
OXY_ret_1 = OXY_1['Adj Close'][-1]/OXY_1['Adj Close'][0]

OXY_ret_2 = OXY_2['Adj Close'][-1]/OXY_2['Adj Close'][0]

OXY_ret_3 = OXY_3['Adj Close'][-1]/OXY_3['Adj Close'][0]

OXY_total_ret = (OXY_ret_1*
                 OXY_ret_2*
                 OXY_ret_3)**(1/(23/12))-1

In [27]:
OXY_total_ret

0.33163731076508496

In [28]:
# Source: https://www.investing.com/indices/dj-oil---gas-historical-data

OXY_djusen_1 = 688.51/706.76

OXY_djusen_2 = 759.02/588.43

OXY_djusen_3 = 451.21/409.09

OXY_djusen_ret = (OXY_djusen_1*
                  OXY_djusen_2*
                  OXY_djusen_3)**(1/(23/12))-1

In [29]:
OXY_djusen_ret

0.1856593826250439

In [30]:
AA_final_df = pdr.get_data_yahoo('AA', start='2022-10-01', end='2024-04-28')
LLY_final_df = pdr.get_data_yahoo('LLY', start='2022-09-01', end='2024-04-28')
OXY_final_df = pdr.get_data_yahoo('OXY', start='2021-08-01', end='2024-04-28')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [31]:
# Date of e-mail
end_date = date(2024,4,27)

# Date of initial entry into stock 
AA_start_date = date(2022,10,1)
LLY_start_date = date(2022,9,1)
OXY_start_date = date(2021,8,1)


AA_days = end_date - AA_start_date
LLY_days = end_date - LLY_start_date
OXY_days = end_date - OXY_start_date

AA_ret_final = (AA_final_df['Adj Close'][-1]/
                AA_final_df['Adj Close'][0])**(1/(AA_days.days/365))-1
LLY_ret_final = (LLY_final_df['Adj Close'][-1]/
                 LLY_final_df['Adj Close'][0])**(1/(LLY_days.days/365))-1
OXY_ret_final = (OXY_final_df['Adj Close'][-1]/
                 OXY_final_df['Adj Close'][0])**(1/(OXY_days.days/365))-1

In [32]:
AA_ret_final

0.0027171585815222166

In [33]:
LLY_ret_final

0.7003604946181436

In [34]:
OXY_ret_final

0.4356764605142762

In [35]:
AA_djusal_final_ret = (125.99/127.73)**(1/(AA_days.days/365))-1
AA_djusal_final_ret

-0.008683998837810236

In [36]:
LLY_djuspr_final_ret = (874.63/761.23)**(1/(LLY_days.days/365))-1
LLY_djuspr_final_ret

0.08753862560796977

In [37]:
OXY_djusen_final_ret = (791.95/409.09)**(1/(OXY_days.days/365))-1
OXY_djusen_final_ret

0.27265532312325336

In [43]:
OXY_days.days/365

2.73972602739726